.WorkPage-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  margin: 0 2em;
}

.WorkPage-header {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	margin: 0;
	font-size: 3em;
	font-weight: 550;
	align-items: baseline;
	justify-content: center;
	background-image: url('../img/bg2.png');
	background-size: cover;
	background-position: center;
	color: #E0E0E0;
	padding: 1em;
	border: 2px solid #ffffff;
	border-radius: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

.WorkPage-go-button {
	border: solid 2px white;
	border-radius: 15px;
	height: 65px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
	background-image: url('../img/bg2.png');
	background-size: 75px 75px;
	background-position: center;
	transition: all 150ms ease-in;
}

.WorkPage-go-button:hover {
		transform: scale(1.1)
}

.WorkPage-go-button:disabled {
		opacity: 0.5;
}