.Shard {
  transition: all ease-in-out 0.2s;
}

.Shard-image-container {
  position: relative;
  padding: 0;
  font-size: 1em;
}

.Shard-image-container:disabled {
  cursor: unset;
}

.Shard-image {
  transition: all ease-in-out 0.2s;
  border-radius: 15px;
  border: solid 5px #27282D;
  object-fit: cover;
  box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.Shard-text {
  font-weight: 700;
  font-size: 1.1em;
  margin: 0.5em 0 0 0;
}

.Shard-info {
  position: absolute;
  background-color: #27282D;
  border-radius: 0 15px 0 10px;
  top: 0;
  right: 0;
  padding: 0.5em 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.Shard-info:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  height: 20px;
  width: 20px;
  background: transparent;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 0 0 #27282D;
}

.Shard-info:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 5px;
  height: 20px;
  width: 20px;
  background: transparent;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 0 0 #27282D;
}

.Shard-icon {
  z-index: 1;
}

/* Color Classes */
.Shard--purple .Shard-info {
  color: #9377AB;
}
.Shard--purple .Shard-icon {
  filter: drop-shadow(0 0 3px #6B577D);
}

.Shard--purple.Shard--glow:hover .Shard-image {
  box-shadow: 0 0 50px 13px rgba(106, 73, 147, 0.9);
  animation: purple-glow 4s infinite;
  animation-delay: 0.2s;
}

.Shard--green .Shard-info {
  color: #79ab77;
}
.Shard--green .Shard-icon {
  filter: drop-shadow(0 0 3px #577d58);
}

.Shard--green.Shard--glow:hover .Shard-image {
  box-shadow: 0 0 50px 13px rgba(97, 187, 94, 0.9);
  animation: green-glow 4s infinite;
  animation-delay: 0.2s;
}

@keyframes purple-glow {
  0%   { box-shadow: 0 0 50px 13px rgba(106, 73, 147, 0.9); }
  15%  { box-shadow: -3px -1px 55px 11px rgba(106, 73, 147, 1.0); }
  65%  { box-shadow: 2px 0 45px 15px rgba(106, 73, 147, 0.6); }
  75%  { box-shadow: 3px 2px 40px 11px rgba(106, 73, 147, 0.7); }
  100% { box-shadow: 0 0 50px 13px rgba(106, 73, 147, 0.9); }
}


@keyframes green-glow {
  0%   { box-shadow: 0 0 50px 13px rgba(97, 187, 94, 0.9); }
  15%  { box-shadow: -3px -1px 55px 11px rgba(97, 187, 94, 1.0); }
  65%  { box-shadow: 2px 0 45px 15px rgba(97, 187, 94, 0.6); }
  75%  { box-shadow: 3px 2px 40px 11px rgba(97, 187, 94, 0.7); }
  100% { box-shadow: 0 0 50px 13px rgba(97, 187, 94, 0.9); }
}

