.Shard {
  transition: all ease-in-out 0.2s;
}

.Shard:hover {
  transform: scale(1.07);
}

.Shard-image-container {
  position: relative;
  padding: 0;
  font-size: 1em;
}

.Shard-image-container:disabled {
  cursor: unset;
}

.Shard-image {
  border-radius: 15px;
  border: solid 5px #27282D;
  object-fit: cover;
  box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.Shard-text {
  font-weight: 700;
  font-size: 1.1em;
  margin: 0.5em 0 0 0;
}

.Shard-info {
  position: absolute;
  background-color: #27282D;
  border-radius: 0 15px 0 10px;
  top: 0;
  right: 0;
  padding: 0.5em 0.7em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.Shard-info:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 5px;
  height: 20px;
  width: 20px;
  background: transparent;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 0 0 #27282D;
}

.Shard-info:after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 5px;
  height: 20px;
  width: 20px;
  background: transparent;
  border-top-right-radius: 10px;
  box-shadow: 5px -5px 0 0 #27282D;
}

.Shard-icon {
  z-index: 1;
}

/* Color Classes */
.Shard--purple .Shard-info {
  color: #9377AB;
}
.Shard--purple .Shard-icon {
  filter: drop-shadow(0 0 3px #6B577D);
}

.Shard--green .Shard-info {
  color: #79ab77;
}
.Shard--green .Shard-icon {
  filter: drop-shadow(0 0 3px #577d58);
}

