.FlippableShard {
  height: 344px;
  width: 210px;
  position: relative;
}

.Shard.FlippableShard-front,
.Shard.FlippableShard-back {
  transition: transform 0.5s ease;
  position: absolute;
  top: 0;
  right: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.FlippableShard-front {
  transform: rotateY(180deg);
}

.FlippableShard-front--flipped {
  transform: rotateY(0deg);
}

.FlippableShard-back {
  transform: rotateY(0deg);
}

.FlippableShard-back--flipped {
  transform: rotateY(180deg);
}
