.CardPack {
  height: 300px;
  width: 200px;
  border-radius: 15px;
  transition: all ease-in-out 200ms;
  position: relative;
  padding: 0;
  box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.5);
}

.CardPack-image {
  border-radius: 15px;
  object-fit: cover;
}

.CardPack:disabled {
  filter: brightness(0.5);
}

.CardPack:enabled {
  animation-name: card-pack-hover-from;
  animation-duration: 1s;
}

.CardPack:hover:enabled {
  animation-name: card-pack-hover;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

@keyframes card-pack-hover {
  0%   {transform: scale(1) rotate(0);}
  25%  {transform: scale(1.2) rotate(1deg); box-shadow: 1px 5px 15px 10px rgba(0, 0, 0, 0.5);}
  100% {transform: scale(1.1) rotate(-3deg); box-shadow: 1px 5px 12px 7px rgba(0, 0, 0, 0.5);}
}

@keyframes card-pack-hover-from {
  from {transform: scale(1.1) rotate(-3deg); box-shadow: 1px 5px 12px 7px rgba(0, 0, 0, 0.5);}
  to {transform: scale(1) rotate(0); box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.5);}
}

.CardPack-cost {
  display: flex;
  gap: 0.3em;
  border: 2px solid #b08926;
  border-radius: 6px;
  padding: 0.2em 0.4em;
  background-color: #f0c868;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  color: #795e1a;
  font-size: 1.2em;
  font-weight: 800;
  margin: 0;
}

.CardPack-cost-icon {
  font-size: 0.9em;
  color: #b08926;
}
