.NavBar {
  background-color: #1b1e24;
  border-radius: 16px 0 0 16px;
  margin: auto 0;
  position: absolute;
  right: 0;
  top: 36.5vh;
}

.NavBar-list {
  margin: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.NavBar-list button {
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  transition:
    background-color 120ms ease-in,
    color 200ms ease-in;
  color: lightgrey;
}

.NavBar-list button:hover,
button.NavBar-active {
  color: white;
  transition: all 100ms ease-in;
}
button.NavBar-active {
  background-color: #282c34;
  box-shadow: 0 2px 3px #17191e;
}

@media (max-width: 615px) {
  .NavBar {
    bottom: 1em;
    top: unset;
    right: 1em;

    border-radius: 16px;
  }

  .NavBar-list button {
    font-size: 1.25em;
  }

  .NavBar-list {
    flex-direction: row;
  }
}
