.NavBar {
  background-color: #1b1e24;
  border-radius: 16px 0 0 16px;
  margin: 1em 0;
}

.NavBar-list {
  list-style-type: none;
  color: white;
  margin: 0.5em;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

}

.NavBar-list button {
  font-size: 1.5em;
  height: 2em;
  width: 2em;
  border-radius: 9px;
  transition: background-color 100ms ease-in;
}

.NavBar-list button:hover,
.NavBar-active{
  background-color: #282c34;
  transition: background-color 100ms ease-in;
}
.NavBar-active {
  box-shadow: 0 2px 3px #17191e;
}
