.StatsPage {
  height: calc(100% - 14em);
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 7em;
  gap: 2em;
}

.StatsPage-graph-container {
  height: 100%;
  grid-row: span 2;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
}

.StatsPage-stat-container {
  font-weight: 600;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  padding: 0 1em;
}

.StatsPage-stat-title {
  margin: 0;
  font-size: 1em;
}

.StatsPage-stat-number {
  margin: 0;
  font-weight: 800;
  font-size: 2.1em;
  text-shadow: 4px 4px #ffc07b;
}

@media (max-width: 1000px) {
  .StatsPage {
    gap: 1.25em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: calc(100% - 12em);
    padding: 5em 5em 7em 5em;
  }

  .StatsPage-graph-container {
    grid-row: unset;
    grid-column: span 2;
  }

  .StatsPage-stat-container {
    padding: 0 0.75em;
  }

  .StatsPage-stat-number {
    font-size: 1.8em;
  }
}

@media (max-width: 615px) {
  .StatsPage {
    height: calc(100% - 20em);
    padding: 2em 2em 6em 2em;
  }

  .StatsPage-stat-container {
    padding: 0 0.5em;
  }

  .StatsPage-stat-title {
    font-size: 0.8em;
  }

  .StatsPage-stat-number {
    font-size: 1em;
    text-shadow: 2px 2px #ffc07b;
  }
}

