.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2em;
}

.App-header {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  font-size: 3em;
  font-weight: 500;
  align-items: baseline;
  justify-content: center;
  position: relative;
}

.App-go-button {
  border: solid 4px #1b1e24;
  border-radius: 15px;
  padding: 0.5em 1em;
  font-size: 2em;
}

.App-go-button:hover {
  background-color: #1b1e24;
}

.App-go-button:disabled {
  color: grey;
  background-color: #1b1e24;
}
